<picture>
  <source media="(min-width: 1440px)" srcset="images/bg-main-desktop.png" />
  <img class="background" src="images/bg-main-mobile.png" alt="Background" />
</picture>
<main>
  <section class="cards">
    <app-card-back [cvc]="cvc"></app-card-back>
    <app-card-front
      [cardNumber]="number"
      [name]="name"
      [expirationMonth]="month"
      [expirationYear]="year"
    ></app-card-front>
  </section>

  <app-card-form [cardForm]="form"></app-card-form>
</main>

<router-outlet />
